<p>Olá {{name}}, tudo bem?</p>

<p>Aqui é o {{expert}}, e eu estou passando para te dar os parabéns por ter realizado a sua inscrição para o evento: <strong> {{eventName}}</strong>.</p>

<p>Tenho certeza que nesse evento você vai aprender o caminho para reduzir o stress e ansiedade estudando violãpor 30 minutos por dia. Você vai ficar surpreso com muita coisa. </p>

<p>Nesse exato momento, eu e a minha equipe estamos cuidando de todos os preparativos para realizar o {{eventName}}.</p>

<p>Estamos nos esforçando ao máximo para produzir o melhor conteúdo pra você e é exatamente por isso que eu preciso da sua ajuda.</p>

<p>Para ser mais exato, preciso que você me ajude com duas coisas muito importantes.</p>

<p>A primeira coisa é: eu gostaria muito de saber quais são as principais dificuldades e necessidades que você tem enfrentando neste momento para aprender a tocar violão.</p>

<p>A sua resposta vai me ajudar a garantir que esse evento supere as suas expectativas.</p>

<p>Logo abaixo, tem um link com uma pesquisa pra você responder.</p>

<p>Com base nas suas respostas, pode ser que eu consiga adaptar ou até mesmo produzir um conteúdo específico pra você. Então reserve um tempinho na sua agenda e responda essa pesquisa com o má;ximo de atenção possível, ok ?</p>

<p><a href='{{url_gforms}}'><strong>RESPONDER A PESQUISA</strong></a></p>

<p>E o meu segundo pedido é o seguinte.</p>

<p>Da última vez que eu fiz um evento assim, muitas pessoas ficaram chateadas porque não receberam meus e-mails e, por conta disso, não tiveram acesso a todos os conteúdos que eu enviei..</p>

<p>Dessa vez, eu quero ter a certeza que minhas mensagens vão chegar até você.</p>

<p>Mas pra isso, eu preciso que você confirme sua inscrição através do link abaixo:</p>

<p><a href='{{url_confirm}}'><strong>CLIQUE AQUI PARA CONFIRMAR INSCRIÇÃO</strong></a></p>

<p>Assim, eu vou saber que está tudo ok com seu acesso e posso ficar tranquilo por ter a certeza de que você não vai perder nenhum conteúdo.</p>

<p>Então, é isso aí, não ignora esse e-mail, tá? Espero de verdade poder contar com a sua ajuda.</p>

<p>A gente se fala novamente em breve.</p>

<p>Grande abraço, {{expert}}</p>