<p>Olá {{name}}, tudo bem?</p>

<p>Aqui é o {{expert}}, eu vi que ontem você se inscreveu para participar do {{eventName}} e que sua inscrição já foi confirmada!</p>

<p>Pensando em tornar sua experiência ainda melhor, nós criamos um grupo exclusivo no Whatsapp para quem se inscreveu no evento.</p>

<p>Nesse grupo, você vai receber todos os links de acesso e conteúdos extras do {{eventName}}.</p>

<p>Lá no grupo de Whatsapp, a entrega dos conteúdos é imediata. Assim, você não corre o risco de alguma mensagem não chegar ou cair no SPAM, como pode acontecer com o e-mail, às vezes.</p>

<p>Ah, pode ficar despreocupado porque o grupo é altamente moderado e apenas administradores podem enviar mensagens.</p>

<p>Eu te garanto que por lá você vai receber apenas mensagens oficiais do evento, tá?</p>

<p>Então para não perder absolutamente nada desse evento, eu recomento que você participe agora mesmo do grupo de whatsapp,é só clicar no link abaixo:</p>

<p><a href='{{url_confirm}}'><strong>CLIQUE AQUI PARA CONFIRMAR INSCRIÇÃO E IR PARA O GRUPO DO WHATSAPP</strong></a></p>

<p>Abra&ccedil;o,</p>
{{expert}}